<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study_management.mapper.CommuMapper">
	<select id ="getTime2" resultType="String">
		select now();
	</select>
	
	
	
	
	
	
	
	
	<select id ="commentListGet" resultType="com.study_management.domain.CommentDTO">
			select * from map where postId =
			#{postId}
	</select>
	
	
	
	<select id="commentInsert" resultType="com.study_management.domain.CommentDTO">

		insert into map ( name, addres)
		values (#{name},#{addres});

	</select>
	
	<select id="commentDelete" resultType="com.study_management.domain.CommentDTO">

		DELETE FROM map WHERE id =
		#{id}

	</select>
	
	
	<select id="commentUpdate" resultType="com.study_management.domain.CommentDTO">

		 UPDATE map SET name = #{name}, addres =#{addres} WHERE id = #{id};

	</select>
	
	
	
	
	
	
	
	
	

	
	<select id ="postListGet" resultType="com.study_management.domain.PostDTO">
			select * from map where id =
			#{id}
	</select>
	
	
	<select id="postSelect" resultType="com.study_management.domain.PostDTO">

			select * from map where id =
			#{id}

	</select>
	
	<select id="postInsert" resultType="com.study_management.domain.PostDTO">

		insert into map ( name, addres)
		values (#{name},#{addres});

	</select>
	
	<select id="postDelete" resultType="com.study_management.domain.PostDTO">

		DELETE FROM map WHERE id =
		#{id}

	</select>
	
	
	<select id="postUpdate" resultType="com.study_management.domain.PostDTO">

		 UPDATE map SET name = #{name}, addres =#{addres} WHERE id = #{id};

	</select>
	
	
	
	
</mapper>
