<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study_management.mapper.PlanMapper">

	<select id="WeeklyPlanDTOGet" resultType="com.study_management.domain.WeeklyPlanDTO">
		select * from weeklyplan where studyID = #{studyID}
	</select>

	<select id="MonthlyPlanDTOGet" resultType="com.study_management.domain.MonthlyPlanDTO">
		select * from monthlyplan where studyID = #{studyID}
	</select>

	<insert id="insertWeekly">
		insert into weeklyplan (studyID,content,isCheck,date)
		values (#{studyID}, #{content}, #{isCheck}, #{date})
	</insert>

	<insert id="insertMonthly">
		insert into monthlyplan (studyID,content,isCheck,date)
		values (#{studyID}, #{content}, #{isCheck}, #{date})
	</insert>

	<delete id="deleteWeekly">
		delete from weeklyplan where planID = #{planID}
	</delete>

	<delete id="deleteMonthly">
		delete from monthlyplan where planID = #{planID}
	</delete>

	<update id="updateWeekly">
		update weeklyplan
		set content = #{content} where planID = #{planID}
	</update>

	<update id="updateMonthly">
		update monthlyplan
		set content = #{content} where planID = #{planID}
	</update>

	<update id="isCheckWeekly">
		update weeklyPlan
		set isCheck= #{isCheck} where planID = #{planID}
	</update>

	<update id="isCheckMonthly">
		update monthlyPlan
		set isCheck= #{isCheck} where planID = #{planID}
	</update>

</mapper>
