<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study_management.mapper.UserMapper">

	<update id = "modifyUserInfo">
		UPDATE user
		SET   grade = #{grade}, state = #{state}, userTel = #{userTel}
		WHERE userID = #{userID}
	</update>

	<select id = "userDetail" resultType = "UserDTO">
		SELECT *
		FROM user
		WHERE userID=#{userID}
	</select>

</mapper>