@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

.main {
	width: 100%;
	height: 100%;
	display: flex;
	background: url(BG.png);
	flex-direction: row;
	justify-content: center;
	align-items: center ;
	text-align: center;	
	background-repeat:no-repeat;
	background-size : cover;	
}

.main .left-part {
	width: 60%;
	height: fit-content;
}

.main .right-part {
	width: 40%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center ;
	text-align: center;
}

.main .left-part .title { /*study management*/
	position: relative;	
	font-weight: bold;
	font-size: 70px;
	line-height: 82px;
	color: #FFFFFF;	
	text-shadow:-1px 0 #79B1A4, 0 1px #79B1A4, 1px 0 #79B1A4, 0 -1px #79B1A4;
	/*
	text-shadow: 0px 4px 4px 0px #00000040;
	display: flex;
	*/
}

.main .left-part .foreword { /*머릿말*/
	position: relative;
	top: 33px;
	font-size: 25px;
	color: #6C6C6C;
}

.main .right-part .login {
	position: relative;
	width: 481px;
	height: 547px;
	background: #FFFFFF;
	border-radius: 6px;	
	vertical-align: center;
	text-align: center;
}

.main .right-part .login .content {	
	position: relative;
	top:111px;
}

.main .right-part .login .top {			
	font-size: 30px;
	line-height: 35px;
	text-align: center;		
	vertical-align: center;
}
.main .register .content .top {			
	font-size: 30px;
	line-height: 35px;
	text-align: center;		
	vertical-align: center;
}

.right-part .login #form-control {
	position: relative;
	top:29px;
	height: 50px;
	width: 368px;
	font-size: 18px;
	text-indent : 15px;
	background: #fff;
	border: 1px solid #CDCDCD;
	box-sizing: border-box;
	border-radius: 40px;
}


.right-part .login .login-btn {
	align-items: center;	
	position: absolute;	
	bottom :-20px;
	width: 368px;
	height: 41px;
	left: 54px;	
	font-size: 17px;
	background: #61E4C5;
	text-align: center;	
	border: none;	
	cursor: pointer;	
}

.right-part .login .login-btn:hover {
	background-color: #58ccb1;
}

.right-part .login .find-btn {
	position: relative;
	top:100px;
	left:-105px;
	color: #C4C4C4;
	font-size: 17px;
}

.right-part .login .register-btn {
	position: relative;
	top:100px;
	left:100px;
	color: #C4C4C4;
	font-size: 17px;
}

.right-part .login a {
	text-decoration: none;
}

.right-part .login a:hover {
	font-weight: bold;
}

.right-part .login .non-member {
	position: relative;
	top:138px;
	color: #C4C4C4;
	font-size: 17px;
}

.right-part .login .nonmem-btn {
	position: relative;
	top:20px;
	color: #61E4C5;
	font-size: 17px;
}