html, body {
	width: 100%;
	height: 100%;
	margin:0;

	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.questions-list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.questions-list .nav-bar {
	width: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 36px;
	background-color: #9BF0E6;
	box-sizing: border-box;
}

.questions-list .nav-bar li:first-child {
	border-radius: 20px;
}

.questions-list .nav-bar li {
	width: 40px;
	height: 40px;
	margin: 10px 0px;
	background-color: #C4C4C4;
}

.questions-list .right-part {
	flex: 1;
	padding: 20px 50px;
}

.questions-list .title {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #666666;
}

.questions-list .title span:first-child {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.questions-list .title span:last-child {
	color: #666666;
}

.questions-list .right-part .list-part {
	margin: 0px 50px; 
	flex: 1;
}

.questions-list .list-part ul {
	width: 100%;
	height: fit-content;
}

.questions-list .list-part ul li {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: fit-content;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #c4c4c4;
	border-radius: 50px;
	font-size: 20px;
	box-sizing: border-box;
	height :70px;
}

.questions-list .list-part .list .register-btn {
	padding: 5px 10px;
	text-align: center;
	background-color: #C4C4C4;
}
.questions-list .list-part .list .items2{
	background-color: #fef7db;
}


.questions-list .right-part .menus {
	position:relative; 
	top: 0px;
	left: 2%;
}


.questions-list .right-part .menu1 a {
	height :32px;
	float: left; 
	background-color : #ffffff; /* Green */
	border: none;
	color: rgb(0, 0, 0);
	padding: 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-bottom: 3.5px solid rgb(233, 233, 233);
	border-right: 3.5px solid rgb(233, 233, 233);
	border-radius: 2px;
	width: 68px;
	background-color: #ffffff;
	margin : 3px;
}

.questions-list .right-part .menu2 a {
	height :32px;
	float: left;
	background-color: #9af0e5; /* Green */
	border: none;
	color: rgb(0, 0, 0);
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border-bottom: 3.5px solid rgb(233, 233, 233);
	border-right: 3.5px solid rgb(233, 233, 233);
	border-radius: 2px;
	width: 80px;
	margin : 3px;

}


.questions-list .right-part .title .explanation {
	font-size: px;
	position:relative; 
	top: 0px;
	left: 2%;
}

.questions-list .right-part .under_menu{
	font-size: 20px;
	position:relative; 
	top: 20px;
	left: 1%;
	
	
}


.questions-list .right-part .explanation{
	font-size: 20px;
	position:relative; 
	top: 0px;
	left: -280px;
	
	
}

.questions-list .right-part .namelist{
	position:relative; 
	top: -30px;
	left: 5%;
	
	
}
.questions-list .right-part .namelist .writer{	
	font-size: 20px;
	position:absolute; 
	left: 0%;
}
.questions-list .right-part .namelist .questions_title{	
	font-size: 20px;
	position:absolute; 
	left: 27%;
}
.questions-list .right-part .namelist .date{	
	font-size: 20px;
	position:absolute; 
	left: 63%;
}
.questions-list .right-part .namelist .views{	
	font-size: 20px;
	position:absolute; 

	left: 76%;
}
.questions-list .right-part .namelist .comment{	
	font-size: 20px;
	position:absolute; 
	left: 84.25%;
}









.questions-list .right-part .list li{	
	position:relative; 
}
.questions-list .right-part .list .writer{
	font-size: 20px;
	position:absolute; 
	top: 20px;
	left: 5%;
}
.questions-list .right-part .list .questions_title{
	font-size: 20px;
	position:absolute; 
	top: 20px;
	left: 15%;
}
.questions-list .right-part .list .date{
	font-size: 20px;
	position:absolute; 
	top: 20px;
	left: 65%;
}

.questions-list .right-part .list .views{
	font-size: 20px;
	position:absolute; 
	top: 20px;
	left: 82%;
}
.questions-list .right-part .list .comment{
	font-size: 20px;
	position:absolute; 
	top: 20px;
	left: 90%;
}
.questions-list .right-part .list .new{
	font-size: 18px;
	position:relative; 
	top: 0px;
	left: 3%;
	background-color: #99dbfe; 
	margin:px;
	border-radius: 4px;
	border-right: 9px solid #99dbfe;

	border-left: 9px solid #99dbfe;
	
}




 


.questions-list .right-part .menu_right{
	float:right;
	font-size:  20px;
	margin:0px;
	position: relative;
	left: -8%;
	}

.questions-list .right-part .menu_right a{
	color: rgb(129, 129, 129);
	text-decoration-line: none;

            
    }

.questions-list .right-part .menu_right input{
	font-size: 16px;
	width: 180px;
	padding: 0px;
	border:0px;
	outline:none;
	border-bottom: 2px solid rgb(196, 196, 196);
	
	position:relative; 
	padding: 1px; 
	left: -30px;
	top: -3px;
	
	}

	.questions-list .right-part .page{
		position:relative; 
	
		top: 14%;
		text-align:center;
        list-style:none;
        font-size:  20px;
		
		}
	.questions-list .right-part .page li{
		display: inline-block;
        margin-left: 0px;
		
			
	}

	.questions-list .right-part .page a {
		color:rgb(0, 0, 0);
		text-decoration-line: none;
			
	}


/*stodyCommiRead*/


.questions-list .right-part  .hr1 {
	background-color:rgb(196, 196, 196);
	height:1px;
	border: 2px;

	position:relative; 
	top: 0px;
		
}


.questions-list .right-part .postall .posthead {
	font-size:  20px;
	position:relative; 
	padding: 1px; 
	left: 0;
	top: -15px;
	
}

.questions-list .right-part .postall .posthead .commuTitle {

	position:relative; 

	left: 90px;
	top: -5px;
	
}

.questions-list .right-part .postall .posthead .writer {

	position:relative; 

	left: 90px;
	top: -5px;
	
}

.questions-list .right-part .postall .posthead .data {
	position:relative; 

	left: 0;
	top: -15px;
	
}

.questions-list .right-part .postall .posthead .data .right{
	float:right;

	position:relative; 


}

.questions-list .right-part .postall .posthead .data .right .day{
	
	position:relative; 
	
	left: -270px;
}

.questions-list .right-part .postall .posthead .data .right .views{
	
	position:absolute; 

	left:-80px;
}

.questions-list .right-part .postall .posthead .data .right .scrap{

	position:absolute; 
	left: 10px;
}
.questions-list img.star{
       
	position: relative;
	left: -6px;
	top: 3px;

 } 


 .questions-list .right-part .postall .hr2 {
	background-color:rgb(196, 196, 196);
	height:1px;
	border: 0px;

	position:relative; 
	top: -30px;
		
}
.questions-list .post{
	box-sizing: border-box; 
	
	width: 88%; 
	height: 300px; 
	padding: 10px; 
	overflow: auto;
	position: relative;
		left: 90px;
		top: -20px;
	}
	
	.questions-list .postall .hr3 {
		background-color:rgb(196, 196, 196);
		height:1px;
		border: 0px;
	
		position:relative; 
		top: -10px;
			
	}
	
	.questions-list .commentArea {
	
	
		font-size:  16px;
		position: relative;
		 
		top: -20px;
		
	}
	

	.questions-list .commentArea .comment {
		position: relative;
		left: 80px;
		width : 84%;
	
		

		
	}
	
	.questions-list .commentArea .comment .name {
		
		font-size:  18px;
		position: absolute;
		left: 140x;
		top: -7px;
		
		
	}
	.questions-list .commentArea .comment .day2 {
		font-size:  14px;
		position: relative;
		left: 60px;
		top: 1px;
		color:rgb(126, 126, 126);
	}


	.questions-list .commentArea .comment .text {
		box-sizing: border-box; 
		
		font-size:  16px;
		position: relative;
		left: 25px;
		top: 1px;
	
		
	}


	.questions-list .commentArea .commentIn  {
		font-size:  14px;
		font-weight: lighter ;
	    border:1px solid rgb(196, 196, 196);
        padding:20px; 
        margin:10px;
        width : 80%;
        border-radius: 30px;
		position: relative;
		left: 80px;
		top: 20px;
		
	}

	.questions-list .commentArea a  {

		position: relative;
		left: 20px;
		top: 30px;
		
	}

	.questions-list .right-part .hr4 {
		background-color:rgb(196, 196, 196);
		height:1px;
		border: 2px;
	
		position:relative; 
		top: 0px;
			
	}

	/*studyCommuWrite*/

	.questionsWrite {
	
		box-sizing: border-box; 
		background-color:rgb(255, 255, 255);
		width: 90%; 
		height: 70%; 
		padding: 0px; 
	
		position: relative;
		left: 40px;
		top: 0px;
		border-top:1px solid rgb(196, 196, 196);;
		border-bottom:1px solid rgb(196, 196, 196);;
	}
	
	.questionsWrite .titleWrite{
		
		box-sizing: border-box; 
	
		width: 50%; 
		height: 10%; 
		padding: 0px; 
		overflow: auto;
		position: relative;
		left: 0;
		top: 1%;
		border-bottom:1px solid rgb(196, 196, 196);
	}

	.questionsWrite .titleWrite .titleWriteIn{
		background-color:rgb(255, 255, 255);
		
		box-sizing: border-box; 
		font-size:  32px;
		width: 100%; 
		height: 100%; 
		outline:none;
		overflow: auto;
		position: relative;
		left: 0;
		top: 0%;
		padding: 0px;
		border:0px;
		
		font-weight:600;
	}
	.questionsWrite  .form_control{
		box-sizing: border-box; 
		font-size:  18px;
		background-color:rgb(255, 255, 255);
		overflow: auto;
		position: absolute;
		width: 46%; 
		height: 86%;
		left: 2%;
		top: 13%;
		border-top:1px solid rgb(196, 196, 196);
		border-bottom:1px solid rgb(196, 196, 196);
		border: none;
    	resize: none;
		font-weight:600;
	}
	

	.questionsWrite .writeOut{
		background-color:rgb(250, 250, 250);
		box-sizing: border-box; 
	
		width: 50%; 
		height: 100%; 
		padding: 0px; 
		overflow: auto;
		position: absolute;
			left: 50%;
			bottom: 0%;
		
	}


	.questions-list .right-part .menu3 a {
		height :24px;
		float: left;
		background-color: rgb(235, 235, 235); /* Green */
		border: none;
		color: rgb(0, 0, 0);
		padding: 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
	
		border-radius: 5px;
		width: 80px;
		margin : 3px;
	
	}

	.questions-list .right-part .menu4 a {
		height :24px;
		float: left;
		background-color: #9af0e5;/* Green */
		border: none;
		color: rgb(0, 0, 0);
		padding: 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
	
		border-radius: 5px;
		width: 80px;
		margin : 3px;
	
	}

	
	.questions-list .right-part .questionsWrite_menus {
	
		position: relative;
			left:68%;
			top: 2.5%;
			border-radius: 100px;
	}
	.questions-list .right-part .questionsWrite_menus .menu3{
	
		position: relative;
			left:5.5%;
		
			
	}
	
	.questions-list .right-part .questionsWrite_menus .menu4{
	
		position: relative;
			left:7%;
			
	}

	